* text=auto

*.cmd text eol=crlf
*.cs text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf
*.xaml text eol=crlf

*.md text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.ico binary
*.png binary
*.zip binary
